#container
{
  width: 100%;
  margin:auto;
}

#cookie
{
  display: block;
  width: 250px;
  margin : auto;
  margin-top: 60px;
}

/*Aggrandit légèrement la taille du cookie lorsque l'on clique dessus*/
#cookie:active
{
  width: 260px;
}
