body{
	background-image: url(image/papier_peint.jpg);
	color:#FFFFFF;
}

#container{
  width: 100%;
  margin: auto;
}

#cookie{
  display: block;
  width: 250px;
  margin : auto;
  margin-top: 60px;
}

.scores{
	color: aliceblue;
}

/*Aggrandit légèrement la taille du cookie lorsque l'on clique dessus*/
#cookie:hover{
	width: 260px;
}

#cookie:active{
	position:absolute;
}
#cote-gauche-cookie{
  width: 80%;
	display: inline-block;
	float: left;
}
#cote-droit-shop{
  width:20%;
	display: inline-block;
	float: left;
}
