
body{
background-color:gray;
color:black;
font-size:20px;
font-family: 'Roboto', sans-serif;
}

p
{
  padding: 0;
  margin: 0;
}

.clear
{
  clear:both;
}

}
#container
{
  width: 100%;
  margin:auto;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}


#gauche
{
  /*background-color: red;*/
  width: 400px;
}

#droite
{
   /*background-color: green;*/
   width: 400px;
   float: right;
   margin-top: 150px;
   padding-right: 50px;
}

#affichageScore
{
  background:url(image/petit-cookie.png) no-repeat;
  background-size: 40px;
  background-position: 0.8em 0.3em;
  background-color:white;
  border-radius:10px;
  position:absolute;
  left:20px;
  top: 20px;
  padding: 2px;
  height:50px;
  width:300px;
  /*display:flex;
  flex-direction: row;
  justify-content: */
}

#scoreTotal
{
  width: 200px;
  height: 30px;
  float:right;
  text-align: right;
  margin-right: 20px;
  padding-top: 4px;
  font-size: 2em;
  font-weight: bolder;
}

#cookie
{
  display: block;
  width: 250px;
  margin-left : 50px;
  margin-top: 100px;
}

/*Aggrandit légèrement la taille du cookie lorsque l'on clique dessus*/
#cookie:active
{
  width: 260px;
}

.bonus
{
  background-color: #fff;
  width: 400px;
  height: 40px;
  /*margin-bottom: 20px;*/
  display: flex;
  direction: row;
  justify-content: space-around;
  padding-top: 2px;
}

.prixBonus
{
  /*background: purple;*/
  width: 50px;
  height: 50px;
  font-size: 1em;
}

#cursor, #grandma, #farm, #mine, #factory
{
  /*background-color: yellow;*/
  margin-bottom: 20px;
  font-size: 1.8em;
}

#prixCursor, #prixGrandma, #prixFarm, #prixMine, #prixFactory
{
  text-align: right;
}
